html 
    head
        title= 'Courses Page'

    body
        message= 'Welcome to the Courses Page'
        - let nums = [1,2,3]
        for num of nums
            |
            |
            a(href=`courses/${num}`) Course
            |
            |

        a(href="/") Home 